/* html5boilerplate.com reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: middle }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

h1, h2, h3, h4, h5, h6 { font-weight: normal }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
/* End reset */

a { color: inherit; text-decoration: underline }

body { width: 700px; margin: 50px auto; background: #dad5c5; font-family: 'Amaranth' }
body > header { font-family: 'Waiting for the Sunrise'; font-size: 8em }
body > header *   { display: inline-block }
body > header h1  { -webkit-transform: translate3d(0, 0, 0); opacity: 1; -webkit-animation: from-left 1s 1 ease-out }
body > header img { -webkit-transform: translate3d(0, 0, 0) rotate(50deg); -webkit-animation: from-the-sky 2s 1 linear; }

body > section {
  position: absolute;
  width: 700px;
  min-height: 500px;
  opacity: 0;
  background: #c6bea6;
  color: #513537;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transform: translate3d(-50px,0,0);
}
body > section.current { -webkit-transform: translate3d(0,0,0); opacity: 1; z-index: 999 }

/* Specific sections */
#list menu { padding: 0.5rem }
#list menu > button, #list menu > a.button { font-size: 1.5em; margin-right: 0.5em }
#new-item input { ; }
#list menu > *:before { font-size: 1.25em; padding-right: 0.25em}
#new-list:before      { content: '+' }
#save-list:before     { content: '✓' }
#delete-items:before  { content: '-' }
#browse-lists:before  { content: '❏' }

#new-item       { width: 50%; margin: 30px 0 15px; padding-left: 0.5rem }
#new-item input { width: 100%; padding: 0.15em 0.25em; border: 2px dashed #513537; background: transparent; color: inherit; font-size: 1.8em; outline: 0 }

#items          { list-style-type: none; margin: 0 }
#items li       { font-size: 1.4em; margin: 0.25em 0; padding: 0.25em 0.5rem; border-bottom: 1px dashed #513537 }
#items li input { margin-right: 0.5em }

#browse h1 { font-size: 2em; padding: 0.5rem }
#browse ul { font-size: 1.4em }

input, button { font-family: inherit }
input::-webkit-input-placeholder { font-style: italic; color: inherit }
a.button, button {
  border: 0;
  color: inherit;
  background: transparent;
  display: inline-block;
  padding: 0.15em 0.25em;
  text-decoration: none;
}
button:disabled { opacity: 0.5 }

/* Ze shadows */
body > section {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 3px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow:         0 3px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 20px rgba(0, 0, 0, 0.1)
}

@-webkit-keyframes from-left {
  0%    { -webkit-transform: translate3d(-50px, 0, 0); opacity: 0 }
  50%   { -webkit-transform: translate3d(-50px, 0, 0); opacity: 0 }
  100%  { -webkit-transform: translate3d(0, 0, 0); opacity: 1 }
}

@-webkit-keyframes from-the-sky {
  0%  { -webkit-transform: translate3d(0, -100px, 0); opacity: 0 }
  85% { -webkit-transform: translate3d(0, -50px, 0); opacity: 0 }
  90% { -webkit-transform: translate3d(0, 20px, 0); opacity: 1 }
  95% { -webkit-transform: translate3d(0, -5px, 0) rotate(5deg); opacity: 1 }
  100% { -webkit-transform: translate3d(0, 0, 0) rotate(50deg); opacity: 1 }
}